.text {
  display: inline-block;
  color: var(--white);

  &_weight {
    &_bold {
      font-weight: 700;
    }
    &_semibold {
      font-weight: 600;
    }
    &_medium {
      font-weight: 500;
    }
    &_regular {
      font-weight: 400;
    }
  }

  &_variant {
    &_h1 {
      font-family: "Inter";
      font-size: 24px;
      line-height: 30px;
    }

    &_h2 {
      font-family: "Inter";
      font-size: 20px;
      line-height: 30px;
    }

    &_h3 {
      font-family: "Inter";
      font-size: 18px;
      line-height: 30px;
    }

    &_h4 {
      font-family: "Inter";
      font-size: 16px;
      line-height: 20px;
    }

    &_h5 {
      font-family: "Inter";
      font-size: 14px;
      line-height: 20px;
    }

    &_subtitle_medium {
      font-family: "Inter";
      font-size: 12px;
      line-height: 20px;
    }

    &_subtitle_small {
      font-family: "Inter";
      font-size: 10px;
      line-height: 15px;
    }

    &_title {
      font-family: "Inter";
      font-size: 36px;
      line-height: 40px;
    }
  }
}

@media (max-width: 1024px) {
  .text {
    &_variant {
      &_h1 {
        font-size: 22px;
        line-height: 27.5px;
      }

      &_h2 {
        font-size: 19px;
        line-height: 27.5px;
      }

      &_h3 {
        font-size: 17px;
        line-height: 27.5px;
      }

      &_h4 {
        font-size: 15px;
      }

      &_h5 {
        font-size: 13px;
      }

      &_subtitle_medium {
        font-size: 11px;
      }

      &_subtitle_small {
        font-size: 9px;
      }

      &_h1_medium {
        font-size: 22px;
        line-height: 27.5px;
      }

      &_h2_medium {
        font-size: 19px;
        line-height: 27.5px;
      }

      &_h3_regular {
        font-size: 17px;
        line-height: 27.5px;
      }

      &_h4_regular {
        font-size: 15px;
      }

      &_h5_regular {
        font-size: 13px;
      }

      &_title {
        font-size: 28px;
        line-height: 35px;
      }
    }
  }
}

@media (max-width: 425px) {
  .text {
    &_variant {
      &_h1 {
        font-size: 20px;
        line-height: 25px;
      }

      &_h2 {
        font-size: 18px;
        line-height: 25px;
      }

      &_h3 {
        font-size: 16px;
        line-height: 25px;
      }

      &_h4 {
        font-size: 14px;
      }

      &_h5 {
        font-size: 12px;
      }

      &_subtitle_medium {
        font-size: 10px;
      }

      &_h1_medium {
        font-size: 20px;
        line-height: 25px;
      }

      &_h2_medium {
        font-size: 18px;
        line-height: 25px;
      }

      &_h3_regular {
        font-size: 16px;
        line-height: 25px;
      }

      &_h4_regular {
        font-size: 14px;
      }

      &_h5_regular {
        font-size: 12px;
      }

      &_title {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
}
