.level {
  position: absolute;
  left: -6px;
  bottom: -6px;
  border-radius: 50%;
  background: var(--gradient-violet);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;

  > div {
    border-radius: 50%;
    background: var(--violet);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 1439px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 834px) {
}

@media (max-width: 425px) {
}
