.sub_menu {
  overflow: hidden;
  height: 60px;
  display: flex;
  gap: 200px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);

  .nav_bar {
    display: flex;
    align-items: center;

    .nav_list {
      align-self: flex-start;
      list-style: none;
      text-decoration: none;
      margin: 0;
      padding: 0;
      display: flex;
      gap: 15px;
      height: 100%;

      .nav_list_item {
        display: flex;
        align-items: center;
        gap: 15px;

        .game {
          opacity: 0.5;
        }

        .separator {
          opacity: 0.25;
          height: 8px;
          width: 1px;
          background: #a5fffa;
        }
      }
    }
  }

  .info {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;

    .best {
      position: relative;
      padding: 0px 20px;
      height: 100%;
      display: flex;
      gap: 10px;
      align-items: center;

      > div:first-child {
        display: flex;
        align-items: center;
        gap: 5px;

        [class*="text"] {
          color: var(--yellow);
        }
      }
    }

    .search_icon {
      margin-left: 15px;
    }

    [class*="btn_container"] {
      margin-right: 3px;

      .search_btn {
        border-radius: 8px;
        box-shadow: 0px 3px 10px 0px #00000040;
      }
    }
  }
}

@media (max-width: 1439px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 834px) {
}
